<div class="ms-auto" id="bookmark-<%= post.id %>">
  <% if current_user.bookmark?(post) %>
    <%= render 'posts/unbookmark', post: post %>
  <% else %>
    <%= render 'posts/bookmark', post: post %>
  <% end %>
</div>